<h1>Upload a local file</h1>

<%= form_tag(upload_local_file_path, method: :post, class: 'border p-4', multipart: true, data: { controller: 'upload-form' }) do %>
  <div>
    <div class="upload-file">
      <label class="mb-0">File to upload</label>
      <div class="input-group mb-3">
        <input type="file" class="custom-file-input" id="uploadFileInput" name="file[file]" data-upload-form-target="input" data-action="change->upload-form#syncFileMetadata">
        <label class="custom-file-label" for="uploadFileInput" data-upload-form-target="label"></label>
      </div>

      <div class="mb-3">
        <label class="mb-0" for="fileMimeType">Mime type</label>
        <input type="text" class="form-control" id="fileMimeType" name="file[mime_type]" data-upload-form-target="mimeType">
      </div>

      <div class="mb-3">
        <label class="mb-0" for="filename">Filename</label>
        <input type="text" class="form-control" id="filename" name="file[filename]" data-upload-form-target="filename">
      </div>
    </div>

    <div>
      <label class="mb-0" for="store">Store</label>
      <%= select_tag(:store, options_for_select(store_options), class: 'form-control', name: 'file[store]') %>
    </div>

  <%= submit_tag 'Upload file', class: 'btn btn-primary mt-4' %>
<% end %>
